/* Stile generale per tutte le pagine */
body {
    background-color: #B19CD9; /* Colore di sfondo per tutte le pagine */
}

body {
    background-color: #F5F5F5; /* Grigio chiaro */
}

/* Stile per l'intestazione su tutte le pagine */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Stile del footer su tutte le pagine */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Stile delle immagini su tutte le pagine */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Stile specifico per il contenuto principale su tutte le pagine */
main {
    max-width: 800px; /* Larghezza massima desiderata per il contenuto centrale */
    margin: 0 auto; /* Imposta i margini laterali automatici per centrare il contenuto */
    padding: 20px; /* Aggiungi spazio intorno al contenuto centrale se necessario */
    background-color: #ffffff; /* Sostituisci con il colore di sfondo desiderato */
}

/* Stile del menu di navigazione su tutte le pagine */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Stile della classe .warning-section su tutte le pagine */
.warning-section {
    background-color: red;
    color: white;
    padding: 20px;
}
